<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="#{spring.title.page}">Spring aplication</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="/fragments/header :: header">...</div>
<div th:replace="/fragments/menu :: menu">...</div>
<div th:replace="/fragments/messages :: message">...</div>
<div th:replace="/fragments/content :: main"></div>
</body>
</html>